@tailwind base;
@tailwind components;
@tailwind utilities;


.navbar ul {
    background-color: beige;
    overflow: hidden;
}

.navbar a {
    font-size: large;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li {
    float: left;
}
